/*************************
*******Header******
**************************/
.navbar.navbar-default
{
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
}
.navbar.navbar-default .navbar-toggle
{
    margin-top: 32px;
}
.navbar.navbar-default .navbar-brand
{
    height: auto;
    padding: 20px 15px 20px;
}
.navbar-nav > li > .dropdown-menu {
    margin-left: -67px;   
	margin-top: 4px;
}

/*************************
*******Main Section******
**************************/
#home {
  padding: 100px 0;
}
.column-title {
  margin-top: 0;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
  margin-bottom: 15px;
  position: relative;
}
.column-title:after {
  content: " ";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 40%;
  border-bottom: 1px solid #e44a1a;
}
.home-background-1 {
	background-color: #0c96b1;
	padding: 30px;
	border-radius: 15px;
	
}
.home-background-2 {
	background-color: #8db700;
	padding: 30px;
	border-radius: 15px;
	
}

.btn {
  border-width: 0;
  border-bottom-width: 3px;
  border-radius: 3px;
}
.btn.btn-primary {
  background: #45aed6;
  border-color: #2a95be;
}
.btn.btn-primary:hover,
.btn.btn-primary:focus {
  background: #2a95be;
}

@media only screen and (min-width: 768px) /*TABLET and WEB*/
{
    #main-menu.navbar-default
    {
        background: rgba(255, 255, 255, 0.9);
        -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 1);
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 1);
    }
    #main-menu.navbar-default .navbar-nav > li > a
    {
        padding-top: 20px;
        padding-bottom: 24px;
    }
    #main-menu.navbar-default .navbar-nav > li.active > a, #main-menu.navbar-default .navbar-nav > li.open > a, #main-menu.navbar-default .navbar-nav > li:hover > a
    {
        padding-top:17px;
        border-top: 3px solid #666;
    }

    #nav-home
    {
        background-color: #e44a1a;
        color: white;
		
    }

    #nav-about
    {
        background-color: #ff800a;
        color: white;
    }
    #nav-getinvolved
    {
        background-color: #dbc904;
        color: white;
    }
    #nav-eventinfo
    {
        background-color: #91ba04;
        color: white;
    }
    #nav-competitions
    {
        background-color: #0c98b3;
        color: white;
    }
    #nav-news
    {
        background-color: #3274b1;
        color: white;
    }
    #nav-contacts
    {
        background-color: #6635a2;
        color: white;
    }


    #main-menu.navbar-default .dropdown-menu
    {
        padding: 0 20px;
        min-width: 220px;
        background-color: #fea552;
        border: 0;
        border-radius: 0;
        box-shadow: none;
        -webkit-box-shadow: none;
        background-clip: inherit;
    }
    #main-menu.navbar-default .dropdown-menu > li
    {
        border-left: 3px solid transparent;
        margin-left: -20px;
        padding-left: 17px;
        -webit-transition: border-color 400ms;
        transition: border-color 400ms;
    }
    #main-menu.navbar-default .dropdown-menu > li > a
    {
        border-top: 1px solid #404455;
        padding: 15px 0;
        color: #000;
    }
    #main-menu.navbar-default .dropdown-menu > li:first-child > a
    {
        border-top: 0;
    }
    #main-menu.navbar-default .dropdown-menu > li.active, #main-menu.navbar-default .dropdown-menu > li.open, #main-menu.navbar-default .dropdown-menu > li:hover
    {
        border-left-color: #666;
    }
    #main-menu.navbar-default .dropdown-menu > li.active > a, #main-menu.navbar-default .dropdown-menu > li.open > a, #main-menu.navbar-default .dropdown-menu > li:hover > a
    {
        color: #666;
        background-color: transparent;
    }
	
	
    
    /*SUBMENU*/
    .dropdown-submenu {
    position: relative;
}

.home-background-1 {
	background-color: #0c96b1;
	padding: 30px;
	border-radius: 15px;
	
}
.home-background-2 {
	background-color: #8db700;
	padding: 30px;
	border-radius: 15px;
	float: right;
}

.dropdown-submenu>.dropdown-menu {
    top: 60px;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover >.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #fff;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: white;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.sub-about {
    background-color: #fea552;
}
    
    
} /*End of Media Query*/

@media (max-width:360px ) /*PHONE*/
{
    .home-background-2 {
		margin-top: 20px;
	}

}
/***********************
********* Footer ******
************************/
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #fff;
  background: #2e2e2e;
}
#footer a {
  color: #fff;
}
#footer a:hover {
  color: #45aed6;
}









