@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100,700,100italic,300italic,400italic,700italic);
*{
	margin:0;
    padding:0;
}

body {
	background: url("../images/bg.png");
	background-size: contain;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

.homepagetab {
	position: relative;
	width: 684px;
	height: 684px;
	margin: 0 auto;
}

.circle-design {
    background:transparent url(../images/bubble_tab.png) no-repeat 0px 0px;
    background-size: cover;
    display: table-cell;
    width:110px;
    height:110px;
    border-radius:360px;
    
    background-position: center; 
    line-height:110px;
    text-align:center;
}

a {
	color: #fff;
}

a:hover , a:active, a:visited, a:link{
	text-decoration: none;
	color: #fff;
}

.circle-design:hover {
    cursor: pointer;
  
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
    transition: all .3s ease-in-out;

    -moz-border-radius:100px;
    -webkit-border-radius:100px;
    border-radius:100px;
	
    -moz-box-shadow:1px 1px 4px #666;
    -webkit-box-shadow:1px 1px 4px #666;
    box-shadow:1px 1px 7px #4d4d4d;
}

.circle-design:hover a {
	color: #4d4d4d;
	font-size: 15px;
}





.homepagetab .item1,.homepagetab .item2,.homepagetab .item3,.homepagetab .item4,.homepagetab .item5,.homepagetab .item6, .homepagetab .item7 {
	display: block;   
    position: absolute;
    margin: 0px auto;
    
    font-style: normal;
    
    text-decoration: none;
    margin-top: -85px;
    margin-left: -80px;
}


.homepagetab ul li {
    display: none;
    position: absolute;
}


/***********************
********* Footer ******
************************/
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 13px;
  padding-bottom: 13px;
  color: #fff;
  background: #000;
  font-size:.84em;
}
#footer a {
  color: #fff;
}
#footer a:hover {
  color: #45aed6;
}

.mobilehomepage {
        visibility: hidden;   
 }


/***********************
********* Mobile ******
************************/

@media only screen and (max-width: 360px) and (max-height: 640px)  {
.mobilehomepage .submenu{  
    position: absolute;
    margin-top: 250px;
    margin-left: 128px;
    background-color: #82caff;
}
 
.mobilehomepage {
        visibility: visible;   
 }
    
.mobilehomepage {
    position: relative;
    width: 360px;
    height: 640px;
    margin: 0 auto;
}

.itty-design {
    display: table-cell;
    width:110px;
    height:110px;
    border-radius:360px;
    
    background-position: center; 
    line-height:110px;
    text-align:center;
    font-size: 15px;
    
    color:#fff;
    line-height:100px;
    text-align:center;
    background-color: rgba(118, 145, 166, 0.7) ;  
    text: none;
}



.mobilehomepage  .itty{
    display: block;   
    position: absolute;
    margin-top: 190px;
    margin-left: 80px;
    
}

.mobilehomepage ul li {
    display: none;
    position: absolute;
}
    
.itty {
        margin: 0 auto;   
    }
    
 #mobilemenu {
     position: relative;   
}
}