body {
  background: url("../images/bg.jpg");
  background-size: cover;

  font-size: "Segoe UI";
}

.homepagetab {
position: relative;
width: 684px;
height: 684px;
margin: 0 auto;
}

.circle-design {
    display: table-cell;
    width:100px;
    height:100px;
    border-radius:360px;
    font-size:12px;
    
    color:#fff;
    line-height:100px;
    text-align:center;
    background-color: rgba(61, 112, 133, 0.8);  
}

.circle-design:hover {
    background-color: #5294af;
    font-weight: bold;
    cursor: pointer;

    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: all .3s ease-in-out;
}

.homepagetab .item1 {
    display: block;
    top: 90px;
    left: 287px;
}

.homepagetab .item2 {
    display: block;
    top: 136px;
    left: 418px;
}

.homepagetab .item3 {
    display: block;
    top: 254px;
    left: 488px;
}

.homepagetab .item4 {
    display: block;
    top: 391px;
    left: 465px;
}

.homepagetab .item5 {
    display: block;
    top: 482px;
    left: 360px;
}

.homepagetab .item6 {
    display: block;
    top: 485px;
    left: 222px;
}

.homepagetab ul li {
    display: none;
    position: absolute;
}


