body {
  background: url("../images/bg.jpg");
  background-size: cover;

  font-size: "Segoe UI";
}

.homepagetab {
position: relative;
width: 684px;
height: 684px;
margin: 0 auto;
}

.circle-design {
    display: table-cell;
    width:100px;
    height:100px;
    border-radius:360px;
    font-size:11px;
    
    color:#fff;
    line-height:100px;
    text-align:center;
    background-color: rgba(118, 145, 166, 0.7);  
    text: none;
    
}

.circle-design:hover {
    background-color: #5294af;
    font-weight: bold;
    cursor: pointer;

    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: all .3s ease-in-out;
}

.homepagetab .item1,.homepagetab .item2,.homepagetab .item3,.homepagetab .item4,.homepagetab .item5,.homepagetab .item6, .homepagetab .item7 {
    display: block;   
    position: absolute;
    margin-top: -85px;
    margin-left: -80px;
    
}


.homepagetab ul li {
    display: none;
    position: absolute;
}


/***********************
********* Footer ******
************************/
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 13px;
  padding-bottom: 13px;
  color: #fff;
  background: #000;
  font-size:.84em;
}
#footer a {
  color: #fff;
}
#footer a:hover {
  color: #45aed6;
}




